/*

selector {
  propiedad: valor;
}

@

funcion(parametros)

1px
100% o 25%
240px 50%
1em relative font-size padre
1rem relative = 16px
100vw viewport width ancho de la area visible
100vh viewport height altura de la area visible


*/
header{
    display: flex;
    justify-content: space-around;

}
nav{
    display: flex;
    align-items: self-end;
    gap: 16px;
    padding: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
header{
    background-color: aqua;
    width: 1400px;
}

body{
    background-color: black;
}
p{
    color: white;
}
h2{
    color: red;
}

footer{
   background-color: aqua;
   opacity: 60%;
  }