/*

selector {
  propiedad: valor;
}

@

funcion(parametros)

1px
100% o 25%
240px 50%
1em relative font-size padre
1rem relative = 16px
100vw viewport width ancho de la area visible
100vh viewport height altura de la area visible


*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url(./paginas.css);
header{
    display: flex;
    justify-content: space-around;

}
nav{
    display: flex;
    align-items: self-end;
    gap: 16px;
    padding: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: blue;

}
a{
    text-decoration: none;
}
section{
    text-transform: capitalize;
}

header{
    background-color: rgba(2, 4, 15, 0.925);
    width: 1400px;
}
#slider{
    display: contents;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 60vh;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    background-color: #d8cbdb;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
}
#historia{
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    white-space: pre-line;
}
#tiposcoc{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: justify;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
    
    
}
h1{
    color: white;
}
h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 50PX;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
}
picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-radius: 1rem;
   background-image: url("../img/img7.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: snow;
  }

 fieldset{
    border-radius: 1rem;
  }
  #historianav{
    height: 170px;
  }
  #boton{
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: snow;
    border-radius: 2rem;
    box-shadow: 0 .25rem .25rem 0 ;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
  }

  @media screen and (max-width: 600px) {
    #pagina{
        justify-content: right;  
        align-items: center;
    height: 5700px;
    width: 1200px;
      }
  }
  @media screen and (max-width: 600px) {
    #p{
        justify-content: center;
        align-items: center;
      }
  }
