/*

selector {
  propiedad: valor;
}

@

funcion(parametros)

1px
100% o 25%
240px 50%
1em relative font-size padre
1rem relative = 16px
100vw viewport width ancho de la area visible
100vh viewport height altura de la area visible


*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
header{
    display: flex;
    justify-content: space-around;

}
nav{
    display: flex;
    align-items: self-end;
    gap: 16px;
    padding: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: blue;

}
a{
    text-decoration: none;
}
section{
    text-transform: capitalize;
}

header{
    background-color: rgba(2, 4, 15, 0.925);
    width: 1400px;
}
#slider{
    display: contents;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
    background-color: #d8cbdb;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
    
}
h1{
    color: white;
}
h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    font-family: 'Noto serif', sans-serif;
    font-size: 20px;
}
picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   border-radius: 1rem;
   background-image: url("../img/img7.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   color: snow;
  }

 fieldset{
    border-radius: 1rem;
  }
  
